<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.micros.ipartek.holamundo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OtraActivity"
            android:label="@string/title_activity_otra" >
        </activity>
        <activity
            android:name=".activity.ListaActivity"
            android:label="@string/title_activiti_lista" >
        </activity>
        <activity
            android:name=".activity.ListaCustomActivity"
            android:label="@string/title_activiti_lista_custom" >
        </activity>
        <activity
            android:name=".activity.ListaPersonalizadaActivity"
            android:label="@string/title_activity_lista_personalizada" >
        </activity>
        <activity
            android:name=".preferencias.PreferenciasActivity"
            android:label="@string/title_activity_preferencias" >
        </activity>
        <activity
            android:name=".activity.ServiceActivity"
            android:label="@string/title_activity_service" >
        </activity>

        <!-- Servicios -->


        <!-- soporta multihilos -->
        <service
            android:name=".servicios.MyService"
            android:enabled="true"
            android:exported="false" > <!-- exported="false" => solo para tu App -->
        </service>

        <!-- tarea unica -->
        <service
            android:name=".servicios.MyIntentService"
            android:exported="false" >
        </service>

    </application>

</manifest>
